HOST_SCAN_PATH=your_path_to_scan_directory

# Database
DB_URL=jdbc:postgresql://localhost:5432/mydb_postgres
DB_NAME=mydb_postgres
DB_USERNAME=postgres
DB_PASSWORD=changeme

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme