services:
  todo-list:
    build:
      context: .
      dockerfile: task-todo-list/Dockerfile
    image: task-todo-list:local
    container_name: task-todo-list-dev
    networks:
      - check_task_network
    restart: unless-stopped

  nginx:
    volumes:
      # Монтируем наш конфигурационный файл внутрь контейнера
      - ./config/dev/nginx.conf:/etc/nginx/conf.d/default.conf:ro
